/* my awesome theme here */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1a1a1a;
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
  -webkit-font-smoothing: antialiased;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-weight: 700;
  letter-spacing: 1px;
}
p,
ul {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #5480ff;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #003ded;
}
.svg-icon {
  width: 1em;
  height: 1em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}
.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
.nothing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.nothing p {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 490px;
  padding-top: 20%;
  text-align: center;
  vertical-align: middle;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(70, 191, 167, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(70, 191, 167, 0.2);
}
img::-moz-selection {
  background: transparent;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
