doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Expolring the latest innovations in the field of fashion and technology, an event organized by NUMA and Parners, in Paris.')
    meta(name='author', content='Tristan Lebleu Charlotte de Broglie Marius Nedelcu')
    meta(name="keywords" content="fashion technology smart materials nanotech paris innovations textile")
    meta(property="og:image" content="http://fashiontechweek.fr/images/ftwk.png") 
    title FashionandTechweek
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="icon" href="images/favicon.ico">
    link(href='css/style.css', rel='stylesheet')

  body(id="page-top" data-spy="scroll" data-target=".navbar-fixed-top")
    script.
     // Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59815331-3', 'auto');
      ga('send', 'pageview');
    
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
          a.navbar-brand.page-scroll(href='#page-top')
            .logo: img(src="images/logo.svg", alt="FashionTech Paris")
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            li.hidden: a(href='#page-top')
            li: a.page-scroll(href='#about') A propos
            //- li: a.page-scroll(href='#program') Programme
            li: a.page-scroll(href='#organisateurs') Organisateurs
            li: a.page-scroll(href='#partners') Partenaires
            li: a.page-scroll(href='http://fashiontechweek.fr/photo_ftw2.html') ftweek#2
    
    header.intro#about
        .container
          .row
            .col-md-6: img(src="images/fashiontechweekparis.svg", alt="Fashiontechweekparis").ftw
            .col-md-6
              .introbox
                //- h2 Du vendredi 18 septembre au samedi 26 septembre
                h1 Venez bousculer la mode lors de la 3ème FashionTech week Paris !
                h3 Du 18 au 26 septembre. La 3ème édition de la FashionTech week Paris en partenariat avec ELLE.
                p La mode de demain se créé maintenant : wearables, matières textiles innovantes, boutiques connectées... Les possibilités et perspectives sont multiples.
                p Paris, capitale de la mode et hub européen de l’innovation est un acteur clé de la FashionTech. Une ville choisie pour réunir cet écosystème en pleine croissance (marques de luxe et de prêt à porter, créateurs, hackers, startups …) s'intéressant à la combinaison de ces domaines pour continuer de faire émerger, partager et co-construire la FashionTech.
                p Au-delà du succès rencontré par l’événement auprès du grand public et des professionnels il a permis de mettre en lumière des initiatives innovantes comme Wair, foulard anti-pollution qui a par la suite gagné le défis Cisco ou Clother, startup qui remporta 2 prix au dernier MadeInESCP.
                p Au programme de cette édition: un green hackathon, startup pitch, showroom de créateurs, conférences ...
    
    //- section
      .container
        .row
          .col-sm-12.frontdesc
            h3 Du 18 au 26 septembre. La 3ème édition de la FashionTech week Paris en partenariat avec ELLE.
            p La mode de demain se créé maintenant : wearables, matières textiles innovantes, boutiques connectées... Les possibilités et perspectives sont multiples.
            p Paris, capitale de la mode et hub européen de l’innovation est un acteur clé de la FashionTech. Une ville choisie pour réunir cet écosystème en pleine croissance (marques de luxe et de prêt à porter, créateurs, hackers, startups …) s'intéressant à la combinaison de ces domaines pour continuer de faire émerger, partager et co-construire la FashionTech.
            p Au-delà du succès rencontré par l’événement auprès du grand public et des professionnels il a permis de mettre en lumière des initiatives innovantes comme Wair, foulard anti-pollution qui a par la suite gagné le défis Cisco ou Clother, startup qui remporta 2 prix au dernier MadeInESCP.
            p Au programme de cette édition: un green hackathon, startup pitch, showroom de créateurs, conférences ...
    h2.text-center Programme
    br
    section#program
      .container
        
        .day
            h3 du vendredi 18 au dimanche 20 septembre
          .row.event
            .col-sm-6
              //- strong.time 17h - 18h
              h4.name Le GREENATHON de la Fashion Tech Week - Curated by WEARHACKS
              a.btn.inscript(href='https://greenathon-fashiontechweek.splashthat.com/' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') à La Paillasse
              ul.list-unstyled.partners.small.compressed.clearfix
                li: a(href="http://www.wearhacks.com/" name="wearhacks" target="_blank"): img.wearhacks(src="images/logo_wearhacks.png", alt="wearhacks")
                li: a(href="https://wair.io/" name="wair"): img.wair(src="images/logo_wair.png", alt="partner")
                li: a(href="http://lapaillasse.org/" name="La paillasse" target="_blank"): img.lapaillasse(src="images/logo_lapaillasse.png", alt="Lapaillasse")
                li: a(href="http://www.hallcouture.com/" name="hallcouture"): img.hallc(src="images/logo_hallcouture.png", alt="partner")
                
            .col-sm-6: p.desc Le challenge : comment rendre la mode du futur plus responsable ? Comment la technologie et les textiles innovants pourraient-ils contribuer à créer des vêtements et accessoires plus durables ? Un vrai marathon de création autour du thème « Mode, numérique et nouveaux matériaux au service de l’environnement ». Le tout sous forme de défi façon Hackathon : 54 heures de création non-stop en équipe, accompagnées par des mentors experts dans le domaine de la mode, de la technologie et/ou de l'écologie et ayant pour but d’éduquer et de former aux vêtements innovants et connectés. L’évènement se veut multidisciplinaire et accueillera des designers, créateurs, développeurs, hackers, ingénieurs, makers… Les projets gagnants seront exposés au FashionTech Showroom lors de la FashionTech Week ainsi que lors d’un évènement relatif à la COP21 en décembre 2015 PLUS D’INFOS ET INSCRIPTIONS : 
              a(href="https://greenathon-fashiontechweek.splashthat.com/" target="_blank") greenathon-fashiontechweek.splashthat.com

        .day
            h3 Lundi 21 septembre
          .row.event
            .col-sm-6
              strong.time 18h30 à 19h45
              h4.name Quels lieux et quelles formations pour le secteur de la FashionTech en France ?
              a.btn.inscript(href=' https://www.numa.paris/Evenements/FashionTech-week-Paris' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') à NUMA
              ul.list-unstyled.partners.small.clearfix
                li: a(href="https://numa.paris/"): img.numa(src="images/logo_numa.png", alt="partner")
                li: a(href=""): img.lookforward(src="images/logo_lookforward.png", alt="partner")

            .col-sm-6: p.desc Pour répondre à un secteur en pleine expansion de nombreuses structures d’accompagnements ont vu le jour en 2014 : incubateurs, accélérateurs, co-working .. Les écoles de mode commencent elles aussi à mettre en place des cursus dédiés à la technologie et la mode. Comment accompagner au mieux le développement de ce secteur ? Quelle place la FashionTech française occupe t-elle sur le plan international ? <br>Vous êtes étudiant, créateurs, startuppers, en quoi ces structures peuvent-elles vous être utiles ? Qu’en attendez-vous ?<br>
              h3 Avec:
              ul.desc
                //- li Annick Jeheanne, HubMode 
                li Alice Gras, Hall Couture
                li Look Forward, incubateur de Showroom Privé 
                li Anne Balas-Klein, Directrice LISAA Mode
                li Daniel Gergès, directeur de Silicon B

          .row.event(style="margin-bottom:13px;")
            .col-sm-6
              strong.time 20h à 21h15
              h4.name Open source, impression 3D, tissus connectés : quels enjeux, risques et opportunités pour les marques et les créateurs ?
              strong.btn.inscript Entrée libre
              a.page-scroll.location(href='#cd-google-map') à NUMA
              ul.list-unstyled.partners.small.clearfix
                //- li: a(href="https://numa.paris/"): img.numa(src="images/logo_numa.png", alt="partner")
                li: a(href="http://modelab.fr/" name="modelab" target="_blank"): img.modelab(src="images/logo_modelab.png", alt="modelab")

            .col-sm-6
              p.desc Animé par Florence Bost <br><br>
              ul.desc
                //- li Intervenants
                li Naïma Alahyane Rogeon, avocate, Cabinet Alain Bensoussan 
                li Vincent Dugast, créateur
                li Frédéric Lintz, designer, co-fondateur de Eliumstudio
        
          .row.event
            .col-sm-6
              strong.time 18h30 – 20h
              h4.name Mode et Technologie Je t’aime, moi non plus…
              strong.btn.inscript Entrée libre
              a.page-scroll.location(href='#cd-google-map') La Fabrique <br> 6 – 8 avenue de la Porte de Champerret 75017 Paris <br>
              ul.list-unstyled.partners.small.clearfix
                li: a(href="http://www.lafabrique-ecole.fr/" name="lafabrique" target="_blank"): img.lafabrique(src="images/logo_lafabrique.png", alt="partner")
            .col-sm-6
              p Les technologies impactantes pour l’écosystème de la mode (matériaux, conception, production, distribution…) et les scénarios d’évolution possibles pour cette économie.
              ul.desc
                li <h4>Intervenants :</h4>
                li Jacques Leroux, <em>Délégué Filière Création mode design - CCI Paris Ile-de-France</em>
                li Evelyne Chaballier, <em>Enseignante – IFM</em>
                li Muriel Rajaut-Toury,<em> Directrice marketing – Bleuforêt</em>

        .day
            h3 Mardi 22 septembre
          .row.event
            .col-sm-6
              strong.time 19h - 22h à NUMA
              h4.name Fashion Pitch Night !
              a.btn.inscript(href='http://fashionpitchnight.strikingly.com/' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') à NUMA
              ul.list-unstyled.partners.small.clearfix
                li: a(href="https://beiconity.com/"): img.iconity(src="images/logo_iconity.png", alt="partner")
                li: a(href="http://www.lisaa.com/" name="lisaa" target="_blank"): img.lisaa(src="images/logo_lisaa.png", alt="LISAA")
                li: a(href="https://numa.paris/"): img.numa(src="images/logo_numa.png", alt="partner")
            .col-sm-6: p.desc The Fashion Pitch Night is dedicated to the startups combining Fashion, Tech &amp; Innovation. 5 startups will pitch their projects to a jury of professionals, a successful entrepreneur will talk about his vision of FashionTech and how he setups this during a keynote and to conclude we will exchange and network thanks to a cocktail! <br><br> 5 startups will be selected as finalists after an European call for project. Apply now, until September 1st! 
              a(href='http://bit.ly/FTW3callproject') Speakers &amp; 
              | prizes will be announced soon but you already can register HERE.Event organized by ICONITY with the support of LISAA. <br>
              | PLUS D’INFOS ET INSCRIPTIONS : 
              a(href='http://www.fashionpitchnight.com/') fashionpitchnight.com
          .row.event
            .col-sm-6
              strong.time 19h30 Au Fashion Loft
              h4.name Mode et Technologie : Les Tissus et​  Vêtements Intelligents​
              a.btn.inscript(href='http://www.fashionpitchnight.com/' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') Au Fashion Loft
              em: a(href="http://www.nirparis.fr/") Nir Paris/tfl, 42 rue d’enghien 75010 Paris 
              ul.list-unstyled.partners.small.clearfix
                li: a(href="http://nirparis.fr/" name="The Fashion Loft" target="_blank"): img.tfl(src="images/logo_thefashionloft.png", alt="The Fashion Loft")
            .col-sm-6: p.desc
              | <strong>Claire Eliot</strong> : Designer produit/ Creative Technologiste freelance, Professeur en design d’interaction, Objets Connectés, Strates College,  Professeur en Objets interactifs, Webschool,Paris<br><br>
              | <strong>Lise Sansen</strong> ​: Fashion Designer - Development Manager - Professeur MJM Graphic Design,Education Nationale,<br><br>
              | <strong>Naima Alahyane Rogeon</strong> : Avocat Directrice du département Design et Création au sein du Cabinet Alain Bensoussan.<br><br>
              | <strong>Bertrand Duplat</strong> ​​: Co fondateur d'Emiota - créateur​ d'objets de mode connectés​ (Belty ceinture connectée primée au CES Las Vegas 2015). <br><br>
              | La table ronde permettra un regard croisé technique, créatif et juridique sur les tissus et vêtements de demain.


        .day
            h3 Jeudi 23 septembre :
          .row.event
            .col-sm-6
              strong.time 14h - 21h
              h4.name « Allume ton Loup » : Atelier de Tricot-Numérique pour adultes et enfants (de 7 à 12 ans). 
              a.btn.inscript(href='https://evenium.net/ng/person/event/website.jsf?eventId=ateliers-tricot-numerique-pour-enfants-de-7-a10-ans&page=tickets&loc=fr&cid=579163' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') Lieux : PLAYER <br> 16 rue du Caire 75002 Paris
              ul.list-unstyled.partners.small.clearfix
                li: a(href="https://player.paris"): img.player2(src="images/logo_player2.png", alt="player")
                li: a(href="http://www.we-love-the.net/" name="We Love The Net" target="_blank"): img.welovethenet(src="images/logo_welovethenet.png", alt="we love the net")
                li: a(href="http://datapaulette.org/" name="data paulette" target="_blank"): img.datapaulette(src="images/logo_datapaulette.png", alt="datapaulette")

            .col-sm-6
              p.desc Avec We Love The Net et la complicité de Data Paulette, PLAYER organise une après midi d’ateliers participatifs mélangeant tricot, numérique, électronique et installations.<br><br>
              p.desc
                | Au coeur de l’atelier, un objet hybride et insolite : une tricoteuse numérique ! 
                | Les enfants eux même vont pouvoir concevoir des masques tricotés reprenant le contour de leur propres visages. 
                | Ces oeuvres qui explorent le jeu du regard et de l’expression visuelle des émotions seront exposées dans la vitrine de PLAYER pour construire une œuvre collaborative.
              ul.desc
                li: h2: Programme
                li Sessions enfants (format goûter) 
                li 14h à 15h30
                li 16h - 17h30 
                li ---------
                li Session adultes (format cocktail) 
                li 18h - 21h 

        .day
            h3 Jeudi 24 septembre :
          .row.event
            .col-sm-6
              strong.time 19h - 22h
              h4.name Mode, Développement Durable etTechnologie
              a.btn.inscript(href='http://lime.i-campus.fr/index.php/188427/lang-fr' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') à l'ESCP Europe
              ul.list-unstyled.partners.small.clearfix
                li: a(href="https://escpeurope.eu"): img.escp(src="images/logo_escp.png", alt="partner")
                li: a(href="http://www.lectra.com/fr" name="Lectra" target="_blank"): img.lectra(src="images/logo_lectra.png", alt="Lectra")
            .col-sm-6: p.desc
              | Start-ups et grands groupes viendront témoigner sur cette thématique. Cette table ronde sera suivie d'un cocktail. <br><br>
              ul
                li Animation : Céline Abecassis-Moedas et Valérie Moatti,  co-directrices académiques de la Chaire Lectra-ESCP Europe
                li -
                li Intervenants : 
                li Rémi Crinière, Responsable RSE, H&amp;M France
                li Laurence Jacquot, Directrice des Opérations, Lectra
                li Philippe Mangeard, Président, Agence européenne TK'Blue
                li Géraldine Vallejo, Directrice Programme Développement Durable, Kering
                li Eva Zingoni, Créatrice de mode durable
                li -
                li: a(href="http://mode-technologie.fr/") http://mode-technologie.fr/  #ftweek
        .day
            h3 Samedi 26 septembre :
          .row.event
            .col-sm-6
              strong.time à partir de 10h30
              h4.name Showroom &amp; Party!
              a.btn.inscript(href='http://www.eventbrite.com/e/fashion-tech-showroom-3-tickets-18278665982' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') à La Paillasse
              ul.list-unstyled.partners.small.clearfix
                li: a(href="http://lapaillasse.org/" name="La paillasse" target="_blank"): img.lapaillasse(src="images/logo_lapaillasse.png", alt="Lapaillasse")
                li: a(href="http://www.hallcouture.com/" name="hallcouture"): img.hallc(src="images/logo_hallcouture.png", alt="partner")
            .col-sm-6: p.desc Stands et animations dès 10h, cocktail et soirée dès 21h. <br> Le Fashion&amp;tech Showroom est le salon parisien de la mode de demain organisé en trois pôles résolument tournés vers le futur: mode innovante, numérique et éthique. Pour découvrir, toucher, essayer, comprendre, acheter les projets textile et mode de demain et rencontrer leurs créateurs. 
              p Plus d’infos :
              a(href='https://www.facebook.com/pages/Fashion-Tech-Showroom-Paris/351798608346832?fref=ts') www.facebook.com/pages/Fashion-Tech-Showroom-Paris/ <br></br>
              a(href="https://www.facebook.com/events/968629516533789/") Facebook event: SOIREE DE CLOTURE - Fashion-Tech Week #3

    section#organisateurs
      .container
        h2.text-center Co Organisateurs
        .coorg
          .col
            .img: a(href="https://numa.paris/"): img.numa(src="images/logo_numa.png", alt="partner")
            p Acteur majeur de l’écosystème numérique depuis 14 ans, NUMA fédère inventeurs, entrepreneurs et créateurs pour accélérer et faire rayonner l’innovation. Présent à Paris, Moscou et Bengalore, NUMA s'organise autour de trois missions :
              | <br> - La structuration des communautés par l'événementiel (1500 evenements en 2015 réunissant 80 000 personnes)
              | <br> - L'accélération de startups (72 startups accélérées depuis 2011, 60 M€ de levée de fonds, 50 M€ d'exit)
              | <br> - La transformation numérique des entreprises (1/3 du CAC 40 accompagné, + 50% de croissance / an)
          .col
            .img: a(href="http://www.hallcouture.com/"): img.hallc(src="images/logo_hallcouture.png", alt="partner")
            p Le 1er espace collaboratif dédié à la Mode française Innovante, conçu par des créateurs pour des créateurs et des consommateurs avisés. Hall Couture intègre : atelier, coworking et boutique, tout en encourageant des pratiques plus vertueuses respectant les travailleurs, les consommateurs et l’environnement.
          .col
            .img: a(href="https://beiconity.com/"): img.iconity(src="images/logo_iconity.png", alt="partner")
            p ICONITY est une plateforme de location dédiée à la mode, où chacun peut partager les plus belles pièces de son dressing et louer des vêtements ou des accessoires de mode auprès d'autres particuliers et de designers. <br>Notre philosophie : Collect Moments, Share Fashion!
          .col
            .img: a(href="https://escpeurope.eu"): img.escp(src="images/logo_escp.png", alt="partner")
            p chaire « Mode et technologie » qui a pour mission de promouvoir auprès des étudiants et alumnis le rôle de la technologie comme catalyseur de l’innovation envisagée sous ses multiples formes dans les secteurs de la mode et du luxe. Cette chaire est soutenue par Lectra.
          .col
            .img: a(href="https://wair.io/"): img.iconity(src="images/logo_wair.png", alt="partner")
            p WAIR is an innovative Start-up which creates the first connected antipollution scarf. It is at the same time a fashion accessory, an effective protection against the pollution and a measure of air quality sensor. Connected with the application BE AWAIR, the sensor as the telephone can warn the user when the air around him is polluted, in some movements, he can transform his scarf into mask and be protected.
          .col
            .img: a(href="https://inhope.com/"): img.iconity(src="images/logo_inhope.png", alt="partner")
            p IN-HOPE (R&amp;D Lab): By questioning how we use light in the context of climate change and light polalution, IN-HOPE creates new indoor and outdoor lighting aesthetics through the development of luminous fabrics, wearable tech and IOT lighting objects.

    section#partners
      .container.text-center
        h2 En partenariat avec
        .row
          ul.list-unstyled.partners.secon.clearfix
            li: a(href="http://www.lisaa.com/" name="lisaa" target="_blank"): img.lisaa(src="images/logo_lisaa.png", alt="LISAA")
            li: a(href="http://www.elle.fr/" name="ELLE" target="_blank"): img.elle(src="images/logo_elle.png", alt="ELLE")
            li: a(href="http://www.showroomprive.com/"): img.lookforward(src="images/logo_lookforward.png", alt="partner")
        .row
          ul.list-unstyled.partners.clearfix
            li: a(href="http://www.wearhacks.com/" name="wearhacks" target="_blank"): img.wearhacks(src="images/logo_wearhacks.png", alt="wearhacks")
            li: a(href="http://lapaillasse.org/" name="La paillasse" target="_blank"): img.lapaillasse(src="images/logo_lapaillasse.png", alt="Lapaillasse")
            li: a(href="https://www.linkedin.com/pub/claire-eliot/55/774/627" name="claireeliot" target="_blank"): img.claireeliot(src="images/logo_claireeliot.png", alt="ClaireEliot")
            li: a(href="http://www.dressing-room-service.com/" name="Dressing Room Service" target="_blank"): img.dressingroomservice(src="images/logo_dressingroomservice.png", alt="Dressing Room Service")
            
            li: a(href="http://nirparis.fr/" name="The Fashion Loft" target="_blank"): img.tfl(src="images/logo_thefashionloft.png", alt="The Fashion Loft")
            li: a(href="http://www.lectra.com/fr" name="Lectra" target="_blank"): img.lectra(src="images/logo_lectra.png", alt="Lectra")
            li: a(href="http://www.interlaced.co" name="interlaced" target="_blank"): img.interlaced(src="images/logo_interlaced.png", alt="interlaced")
            li: a(href="http://www.clausette.cc" name="clausette" target="_blank"): img.clausette(src="images/logo_clausette.png", alt="clausette")
            li: a(href="http://player.paris" name="Player" target="_blank"): img.player(src="images/logo_player.png", alt="Player")
            li: a(href="http://www.fashhackaustralia.com/" name="fashionhack" target="_blank"): img.fashionhack(src="images/logo_fashionhack.png", alt="Player")
            li: a(href="http://www.lafabrique-ecole.fr/" name="lafabrique" target="_blank"): img.lafabrique(src="images/logo_lafabrique.png", alt="partner")
            li: a(href="http://modelab.fr/" name="modelab" target="_blank"): img.modelab(src="images/logo_modelab.png", alt="modelab")
            li: a(href="http://www.maddyness.com/" name="Maddyness" target="_blank"): img.maddyness(src="images/logo_maddyness.png", alt="Maddyness")

            //- li: a(href="http://frenchweb.fr/" name="Frenchweb" target="_blank"): img.frenchweb(src="images/logo_frenchweb.png", alt="Frenchweb")
            //- li: a(href="http://www.ubergizmo.com/" name="Ubergizmo" target="_blank"): img.ubergizmo(src="images/logo_ubergizmo.png", alt="Ubergizmo")
            //- li: a(href="http://latelierfrancais.fr/" name="L'atelier Francais" target="_blank"): img.latelierfr(src="images/logo_latelierfr.png", alt="L'atelier Francais")
            //- li: a(href="http://gaite-lyrique.net/" name="Gaite Lyrique" target="_blank"): img.gaite(src="images/logo_gaite.png", alt="Gaite Lyrique")
            //- li: a(href="http://www.lafonderie-idf.fr/" name="" target="_blank"): img.lafonderie(src="images/logo_lafonderie.png", alt="Lafonderie")
            //- li: a(href="http://www.cnd.fr/" name="Centre National Danse" target="_blank"): img.cnd(src="images/logo_cnd.png", alt="CND")
            //- li: a(href="http://socialmediaclub.fr/" name="Social Media Club" target="_blank"): img.smc(src="images/logo_socialmediaclub.png", alt="Socialmediaclub")
            //- li: a(href="http://www.silex-id.com/" name="Silex" target="_blank"): img.silex(src="images/logo_silex.png", alt="Silex")
            //- li: a(href="http://upfit-services.com/" name="upfit-services" target="_blank"): img.uplift(src="images/logo_uplift.png", alt="Upfit")
    
    //- section#cd-google-map
      #google-container
      #loc1.sqb NUMA: 39 Rue du Caire
      #loc2.sqb La Gaîté Lyrique: 3bis Rue Papin
      #loc3.sqb La Paillasse: 226 Rue Saint-Denis
      #loc4.sqb ESCP: 79 Avenue de la République
      #loc5.sqb CND: 1 Rue Victor Hugo
      #cd-zoom-in.sqb
      #cd-zoom-out.sqb

      //- address 86-90 Paul Street, London, EC2A 4NE

    footer
      .container.text-center
        p Copyright &copy; <a href="http://www.numa.paris" name="numa Paris" target="_blank">NUMA</a> Fashion Tech Week 2015

    script(src='assets/jquery/jquery.js')
    script(src='assets/jquery/jquery.easing.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src="js/app.js")
    //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjSkiy68CUTGVAELIKh_goNZTFRRzv9rw")
    //- script(src="assets/maps/map.js")