doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Expolring the latest innovations in the field of fashion and technology, an event organized by NUMA and Parners, in Paris.')
    meta(name='author', content='Tristan Lebleu Charlotte de Broglie Marius Nedelcu')
    meta(name="keywords" content="fashion technology smart materials nanotech paris innovations textile")
    meta(property="og:image" content="http://fashiontechweek.fr/images/ftwk.png")
    title Fashion Tech Week
    link(rel="apple-touch-icon" href="images/apple-touch-icon.png")
    link(rel="icon" href="images/favicon.ico")
    link(href='css/style.css', rel='stylesheet')


  body(id="page-top" data-spy="scroll" data-target=".navbar-fixed-top")
    script.
     // Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59815331-3', 'auto');
      ga('send', 'pageview');

    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
          a.navbar-brand.page-scroll(href='#page-top')
            .logo: img(src="images/logo.png", alt="FashionTech Paris", style='width:80px;margin-top:-20px')
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            li.hidden: a(href='#page-top')
            li: a.page-scroll(href='#about') A propos
            li: a.page-scroll(href='#program') Programme
            li: a.page-scroll(href='#organisateurs') Organisateurs
            li: a.page-scroll(href='#partners') Partenaires
            li: a.page-scroll(href='http://fashiontechweek.fr/photo_ftw2.html') ftweek#2

    header.intro#about
        .container
          .row
            .col-md-7
              .introbox
                h1 Venez bousculer la mode lors de la 4ème FashionTech Week Paris !
                h3 Du 6 au 13 octobre 2016 - La 4ème édition de la FashionTech Week Paris en partenariat avec ELLE
                p La mode de demain se créée maintenant : wearables, iOT, vêtements connectés, retail augmenté, impression 3D, matières textiles innovantes... Les possibilités et perspectives sont multiples.
                p Paris, capitale de la mode et hub européen de l’innovation est un acteur clé de la FashionTech. Une ville choisie pour réunir cet écosystème en pleine croissance (marques de luxe et de prêt à porter, créateurs, hackers, startups …) s'intéressant à la combinaison de ces domaines pour continuer de faire émerger, partager et co-construire la FashionTech.
                p Au-delà du succès rencontré par l’événement auprès du grand public et des professionnels il a permis de mettre en lumière des initiatives innovantes comme la start-up Wair, créatrice du foulard anti-pollution, qui a par la suite gagné le défi Cisco ou Clother et a remporté 2 prix au dernier MadeInESCP.
                p Au programme de cette édition, les dernières innovations à découvrir durant une semaine : FashionTech Meetings, Startup pitch Night, Expo de créateurs avant-gardistes, tables-rondes et soirées networking et bien plus encore !
                h3 Twittez #FTWeek toute la semaine !
            .col-md-5: img(src="images/logo.png", alt="Fashiontechweekparis").ftw

    //- section
      .container
        .row
          .col-sm-12.frontdesc
          h3 Jeudi 6 octobre. La FashionTech Conférence & Opening Cocktail.
          p La mode de demain se créée maintenant : wearables, matières textiles innovantes, boutiques connectées... Les possibilités et perspectives sont multiples.
    p#program
    br
    br
    h1.text-center(style="font-size: 48px;") Programme de la semaine FashionTech Week
    br
    section#program-content
      .container

        .day
            h3 JEUDI 6 OCTOBRE 2016
          .row.event
            .col-md-6
              strong.time De 18h30 à 20h00
              h4.name La FashionTech Conférence & Opening Cocktail
              a.btn.inscript(href='http://lime.i-campus.fr/index.php/333277/lang-fr' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') Amphi Vital Roux - ESCP Europe
              ul.list-unstyled.partners.small.compressed.clearfix
                li: a(href="https://escpeurope.eu" name="ESCP" target="_blank"): img.escp(src="images/logo_escp.png", alt="ESCP")
                li: a(href="http://www.lectra.com/fr" name="Lectra" target="_blank"): img.lectra(src="images/logo_lectra.png", alt="Lectra")
                li: a(href="http://mode-technologie.fr/" name="chairemodetechnologie" target="_blank"): img.chairemodetechnologie(src="images/logo_chairemodetechnologie.png", alt="Chaire Mode et Technologie")

            .col-md-6: p Retrouvez-nous autour d’une table ronde sur le thème du Big Data et de la FashionTech, organisée et tenue par ESCP Europe et la Chaire Lectra “Mode & Technologie” suivie du cocktail d’ouverture de la FTWeek dans les locaux de <b>ESCP Europe, 79 avenue de la République, Paris 11ème</b>.
              p <b>Céline Abecassis-Moedas</b> & <b>Valérie Moatti</b>, Directrices académiques de la Chaire Lectra - ESCP Europe animeront cet événement.
              p Cette table ronde rassemblera grandes entreprises et startups pour échanger et débattre sur l’utilisation des données dans la supply chain de la mode.
              p <b>Panélistes</b> :
                <br/> Maximilien Abadie, Lectra
                <br/> Edouard Fonkenell, Claravista
                <br/> François Nguyen, La Redoute
                <br/> Benoit Sabatier, Clother
                <br/> Nicolas-Santi-Weil, AMI

              p Pour en savoir plus sur la Chaire :&nbsp;
                a(href='http://www.escpeurope.eu/fr/faculte-recherche/chaires-et-instituts-escp-europe/chaire-mode-et-technologie/' target="_blank") Chaire Lectra - ESCP Europe “Mode et Technologie”

        .day
            h3 VENDREDI 7 OCTOBRE 2016
          .row.event
            .col-md-6
              strong.time 14h00 à 20h00
              h4.name Smart Mall Day
              a.btn.inscript(href=' https://paris.numa.co/agenda/evenement/smart-mall-day-506' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') au Numa
              ul.list-unstyled.partners.small.compressed.clearfix
                li: a(href="https://paris.numa.co/" alt="numa" target="_blank"): img.numa(src="images/logo_numa.png", alt="numa")
                li: a(href="http://www.picom.fr/" alt="picom" target="_blank"): img.picom(src="images/logo_picom.png", alt="picom")
                li: a(href="http://www.si-lab.fr/" alt="silab" target="_blank"): img.picom(src="images/logo_picom_shopping_innovation_lab.gif", alt="silab")
                li: a(href="http://www.euratechnologies.com" alt="silab" target="_blank"): img.picom(src="images/Logo_euratechno.png", alt="Euratech")
            .col-md-6: p Aux retailers de toute sorte, grands comptes, PME-ETI, startups, tous ceux intéressés par les enjeux de l’innovation dans le retail, du processus de vente aux nouveaux services pour les consommateurs, en passant par les problématiques de la supply chain et l’évolution des moyens de paiement.
              p Le temps d’une journée, le NUMA Café se transforme en un centre commercial de demain. Venez découvrir des démonstrations de produits développés dans le cadre du Shopping Innovation Lab.
              h4(style="font-weight: bold;") 14h - 15h QUELS DISPOSITIFS DE LA R&D AU GO TO MARKET ? 
              p Comment tester des concepts physiques ? Autant le prototypage & test en offline est évident et largement intégré par les retailers, autant une approche similaire est difficile à mettre en oeuvre sur la conception d’espaces physiques. Mais alors comment réduire le risque ? Nous reviendrons, dans le cadre de cette table-ronde, sur des expérimentations, des approches qui permettent de tester de nouvelles expériences, produits ou services avec :
              ul
                li Matthieu Nicoletti - Directeur du programme d'accélération UR Link chez Unibail-Rodamco 
                li Yann Kervarec - Responsable Commerce Digital chez EuraTechnologies
                li Camille Delemarle - Responsable Digital chez Immochan France
                li Antoine Leclercq - Fondateur de Crezeo
              h4(style="font-weight: bold;") De 16h - 17h : SMART MALL // LE FUTUR DE L’EXPÉRIENCE CLIENT
              p L’expérience client est au coeur du Smart Mall. Les magasins diversifient et personnalisent de plus en plus les parcours client pour réduire les incertitudes liées à l’achat et le nombre de retours ou pour servir la vente online. Comment les nouvelles technologies et les nouveaux usages s’intègrent-ils aux Smart Malls ?
              ul
                li Nicolas Boudot - Directeur des ventes chez Softbank Robotics (Aldebaran)
                li Isabelle Bordry - Co-fondatrice de Retency
                li Yann Corouge - Customer Success Manager chez Augment
              h4(style="font-weight: bold;") De 18h - 19h : SMART MALL // QUELLES INTERFACES POUR LE COMMERCE DE DEMAIN ? 
              p L’heure des centres commerciaux indifférenciés est bien dépassée. Les nouveaux malls proposent une offre de services et de commerces unique et évolutive.  Quelles sont les KPI et les facteurs clés de succès de ces centres commerciaux ? Quelles sont les dernières innovations et les pain-points rencontrés dans le gestions opérationnelles de ces centres ? Nous débattrons des différents types d’espaces-interfaces mais aussi dans la diversité des usages et des temporalité dans le commerce de demain.
              ul
                li Ken Prepin - Chercheur au Rakuten Institute of Technology
                li Adrien Kerbrat - Co-fondateur de PopUp Immo
                li Delphine Beer Gabel - Directrice du Brand Development chez Klépierre
                li Dominique Palacci - Président de Stimshop
              p Informations & actualités <a href="https://paris.numa.co/agenda/evenement/smart-mall-day-506" name="smart-mall-day" target="_blank">ici</a>


        .day
            h3 LUNDI 10 OCTOBRE 2016
          .row.event
            .col-md-6
              strong.time 18h00 à 21h00
              h4.name FashionTech Meetings - Partagez et collaborez !
              a.btn.inscript(href='https://paris.numa.co/agenda/evenement/lelectronique-embarque-et-le-textile-appliques-au-bien-etre-524' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') à NUMA
              img.lisaa(src="images/logos-tech-meetings.png", alt="partner")
              br
              ul.list-unstyled.partners.small.compressed.clearfix
                li: a(href="https://fr.ulule.com/"): img.ulule(src="images/logo_ulule.png", alt="partner")
                li: a(href="https://www.techshoplm.fr/"): img.techshop(src="images/logo_techshop.png", alt="partner")
                li: a(href="https://fr.lisaa.com/"): img.lisaa(src="images/logo_lisaa.png", alt="partner")
                li: a(href="http://paris.numa.co" name="Numa" target="_blank"): img.studiomaze(src="images/logo_NUMA_black.png", alt="Numa")
              
            .col-md-6: p Une soirée de réflexion et d’échanges organisée par l’école LISAA, Ulule et Belty-Emiota, chez NUMA. Deux table-rondes en intéraction avec le public.
              p 
                strong 18h : Première table-ronde : L’électronique embarquée et le textile appliqués au bien-être
              p
                strong Animation : 
                br
                | Nardjisse Ben Mebarek, Digital Director NellyRodiLab, Editor-in-Chief
              p 
                strong Intervenants
                br
                ul
                  li Angel Moran, DG de LEMO 
                  br
                  | Lemo est l'inventeur et leader du connecteur push-pull. Groupe suisse de 1500 personnes présents en direct dans 19 pays, Lemo propose plus de 70000 références de connecteurs, du câble sous la marque Northwire ainsi que le câblage.
                  br
                  | Angel Moran est directeur général de Lemo France depuis 4 ans. Après un parcours de 17 ans dans l'automobile en direction de projets et de business unit dans les secteurs d'innovation et de nouvelles technologies 
          
                  li Karim Oumnia, CEO Digitsol 
                  br
                  | Karim Oumnia, ingénieur des Mines et fondateur/ceo du groupe Epsilon spécialisé dans le Footwear connecté avec les marques Digitsole et Zhortech.
                  li Caroline Van Renterfghem, CEO de Wair
                  br 
                  | WAIR est le premier foulard anti-pollution connecté. C’est à la fois un accessoire de mode, une protection efficace et confortable contre la pollution de l’air mais aussi une application de prévention capable de prévenir en temps réel ses utilisateurs quand ils sont dans une ville polluée et quand il doivent donc porter leur WAIR !
                  br 
                  | WAIR sera en crowdfunding sur Ulule à partir du 27 Octobre.
                  li Carine Coulm, Ceo Belty-emiota
                  br 
                  | Carine est bio-ingénieur, passionnée par le bien-être et le behavior design. Elle a crée Belty, une ceinture intelligente, en collaboration avec L'Aiglon.
                  br 
                  | Premier wearable évolutif, Belty permet à ses utilisateurs d'adopter de nouvelles habitudes bien-être et de construire un comportement santé cohérent.
              p
                strong 19h00 Deuxième table-ronde : La boîte à outils du créateur
                br
                i Startup et entrepreneuriat, Comment trouver un accompagnement sans gros budget ? Quelles possibilités et lieux pour travailler et se former ? Quelles plateformes de visibilité pour les jeunes diplômés ?
              p 
                strong PRESENTATION DES PARTICIPANTS
              br
              p
                strong 1) Les Ateliers de Paris
                br
                | Lauriane Duriez est directrice adjointe des Ateliers de Paris.
                br
                | Véritable carrefour des jeunes entreprises de la création, les Ateliers de Paris sont à la fois un incubateur d’entreprises, un centre de conseil et d’accompagnement économique et une galerie d’exposition.
              br
              p
                strong 2) Ulule
                br
                | Annika Schlüter, Sucess Manager des projets mode
                br
                | De nationalité allemande, Annika est arrivée chez Ulule en tant que Succès Manager des projets Mode, Artisanat et Food après des études de gestion marketing à Paris. Elle vient tout juste de lancer la boutique participative d'Ulule dans le Marais pour continuer l'accompagnement des porteurs de projets au delà du crowdfunding.Ulule permet de découvrir et donner vie à des projets originaux. Sur Ulule, les projets ne sont financés que s'ils atteignent (ou dépassent !) leur objectif de collecte.
              br
              p
                strong 3) La Paillasse
                br
                | Ludovic Sinet, Responsable des partenariats et de l'accompagnement des startups
                br
                | Ludovic Sinet a suivi un parcours école de commerce et évolué au sein de plusieurs jeunes structures, dont Hello Tomorrow Challenge. La Paillasse, est un réseau de laboratoires interdisciplinaires offrant sans discrimination d’âge, de diplôme ou de revenu, le cadre technique, juridique et éthique nécessaire à la mise en œuvre de projets collaboratifs et open-source.
              br
              p
                strong 4) Tech Shop - Ateliers Leroy Merlin
                br
                | Mathilde Berchon, Corporate Lead
                br
                | Mathilde Berchon, est Auteure du premier livre en français sur l'impression 3D ("L'impression 3D", ed. Eyrolles, 2013), elle a passé plus de 5 ans à San Francisco et 1 autour du monde à rencontrer les communautés makers. Elle a rejoins le lieu de fabrication collaboratif TechShop lors de son ouverture il y a un an.TechShop Ateliers Leroy Merlin (nom des ateliers en France) a pour mission de démocratiser l’accès à des outils et machines jusque-là réservé aux professionnels à travers la création d’ateliers collaboratifs de fabrication.
              br
              p
                strong 5) LISAA Alumni
                br
                | Philippe Lamaison, responsable pédagogique, Responsable pédagogique LISAA Mode Paris
                br
                LISAA est un réseau d’écoles français d’établissements d’enseignement supérieur/technique privé, reconnu par le ministère de la Culture et de la Communication depuis1986 qui forme des créateurs et des managers dans les domaines de l'animation, du jeu vidéo, de l'architecture d'intérieur, du design, du graphisme, du motion design et de la mode. A ce jour, LISAA Alumni représente un réseau de plus de 5000 diplômés.
              br
              p
                strong 6) SWEN
                br
                | Steven Jacques, Co-Fondateur
                br
                SWEN est une marque de prêt-à-porter masculin fondée en 2015 par Swann Amdéo et Steven Jacques. L’héritage multiculturel des créateurs est le point de départ de leur processus créatif. Pour eux, la véritable richesse de leur génération réside dans la possibilité́ de se rassembler sans limite, ni frontière. Les créateurs utilisent des matières biologiques, recyclées ou produites localement tout en faisant l’impasse sur le cuir et la fourrure. Leurs collections sont fabriquées en France.


          .row.event
            .col-md-6
              strong.time 19h00
              h4.name Table ronde "Nouveaux modèles & Technologies pour une Mode plus Transparente"
              h4 #FashionTransparency
              a.btn.inscript(href='https://www.eventbrite.fr/e/billets-ftweek-nouveaux-modeles-et-technologies-pour-une-mode-plus-transparente-28084520557' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') à NUMA
              ul.list-unstyled.partners.small.compressed.clearfix
                li: a(href="http://www.clausette.cc" name="clausette" target="_blank"): img.clausette(src="images/clausette_logo2_black-1.png", alt="clausette")
                li: a(href="https://www.alain-bensoussan.com/" name="alainbensoussan" target="_blank"): img.alainbensoussan(src="images/logo_alainbensoussan.jpg", alt="alainbensoussan")
                li: a(href="http://studiomaze.com" name="studiomaze" target="_blank"): img.studiomaze(src="images/logo_studiomaze.png", alt="studiomaze")
                li: a(href="http://paris.numa.co" name="Numa" target="_blank"): img.studiomaze(src="images/logo_NUMA_black.png", alt="Numa")
                br
                li: a(href="https://lafonderie-idf.fr/" name="La fonderie" target="_blank"): img.studiomaze(src="images/logo-cocktail-fonderie.png", alt="La fonderie")
            .col-md-6
              p Rythmes de collections accélérés, conditions de production intensives, environnement, besoin d'information... La mode a de nombreux défis à relever à l'aube de la 4e révolution industrielle. 
              p Pour tenter d'y apporter des réponses, de jeunes esprits créatifs ont décidé de s'atteler à imaginer de nouvelles solutions. Ils construisent de nouveaux modèles ou utilisent des technologies comme la Blockchain pour façonner le futur d'une industrie pas si futile, puisqu'elle contribue aux 54 milliards d'euros du "PIB Créatif" national (avec les industries du luxe, de la beauté et des arts décoratifs).
              p <b>Intervenants :</b>
                <br/><a href="https://www.alain-bensoussan.com/espace-cabinet/equipe/naima-alahyane-rogeon/">Naïma Alahyane Rogeon, Avocate & Directrice du Département Design et Création</a> du <a href="https://www.alain-bensoussan.com/">Cabinet Alain Bensoussan</a>
                <br/><a href="https://www.linkedin.com/in/lucille-maze-b8049b3b">Lucille Mazé</a>, Créatrice de <a href="http://studiomaze.com/">Studiomazé</a>
                <br/>Patrick Shaeffer, Blockchain Engineer, <a href="https://www.provenance.org/">Startup Provenance</a>
              p <b>Modératrice :</b>
                <br/><a href="https://www.linkedin.com/in/noemiebalmat">Noémie Balmat</a>, Fashion & Innovation Strategist, <a href="http://www.clausette.cc/fr/">Clausette.cc</a> / <a href="https://www.soonsoonsoon.com/">Soon Soon Soon</a>

        .day
            h3 MARDI 11 OCTOBRE 2016
          .row.event
            .col-md-6
              strong.time 19h00 - 22h00
              h4.name FashionPitch Night
              h4 #FTPitchnight
              a.btn.inscript(href='http://www.fashionpitchnight.com/' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') chez VOLUMES
              ul.list-unstyled.partners.small.compressed.clearfix
                li: a(href="http://www.lisaa.com/" name="lisaa" target="_blank"): img.lisaa(src="images/logo_lisaa.png", alt="LISAA")
                li: a(href="https://fr.ulule.com/" name="ulule" target="_blank"): img.ulule(src="images/logo_ulule.png", alt="ulule")
                li: a(href="http://www.bigbooster.org/" name="bigbooster" target="_blank"): img.bigbooster(src="images/logo_bb.png", alt="bigbooster")
                li: a(href="http://volumesparis.org/" name="volumes" target="_blank"): img.volumes(src="images/logo_volumes.png", alt="volumes")
            .col-md-6
              h3 Meet the next FashionTech Startups !
              p La Fashion Pitch Night organisée par Julie Delaude est dédiée aux startups combinant Mode, Tech & Innovation.
              p 5 startups sélectionnées à l’issue d’un appel à projets européen pitcheront leurs projets devant un jury de professionnels,
              p Un entrepreneur reconnu ayant réussi dans le secteur partagera sa vision de la FashionTech au cours d’une keynote,
              p La soirée se terminera par un cocktail-networking !
              p Chez VOLUMES, 78 rue Compans, 75019 Paris
              p Détails et inscription :&nbsp;
                a(href='http://www.fashionpitchnight.com/') fashionpitchnight.com

        .day
            h3 MERCREDI 12 OCTOBRE 2016
          .row.event
            .col-md-6
              strong.time 9h00 - 11h00
              h4.name Les clés pour réussir votre campagne de crowdfunding dans la mode et la création
              a.btn.inscript(href='https://paris.numa.co/agenda/evenement/les-cles-pour-reussir-votre-campagne-de-crowdfunding-dans-la-mode-et-la-creation-519' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') chez Ulule, 8 rue Saint Fiacre, 75002 Paris
              ul.list-unstyled.partners.small.compressed.clearfix
                li: a(href="https://fr.ulule.com/" name="ulule" target="_blank"): img.ulule(src="images/logo_ulule.png", alt="ulule")
                li: a(href="http://paris.numa.co" name="Numa" target="_blank"): img.studiomaze(src="images/logo_NUMA_black.png", alt="Numa")
            .col-md-6
              h3 Quoi ?
              p C'est dans un cadre intime, jovial et accueillant que nous vous convions à petit-déj d'initiation au financement participatif dans la création et la mode chez Ulule.

              h3 Pour qui ?
              p Vous êtes créateur, passionné par la mode et sur le point de commencer un projet de crowdfunding, ou tout simplement curieux mais il vous manque encore quelques billes sur le financement participatif dans ce secteur d'activité ? C'est le moment de se familiariser sans complexe et de passer le pas accompagné par Ulule !
              h3 C'est le niveau 1 !
              p Ouverte à tous et à toutes, la formation a pour objectif de vous familiariser au financement participatif avec des multiples exemples des projets mode, à ses méthodes, ses enjeux autour d'un café dans nos locaux. C'est le moment de discuter avec des professionnels dans un cadre original et intime.
              p On reste fidèle à notre devise... On aime donner vie aux bonnes idées !

          .row.event
            .col-md-6
              strong.time 19h00 - 21h30
              h4.name Keynote Fashion Creative Technology&nbsp;: Nouveaux Métiers & Nouveaux Outils
              h4 Suivie d'un échange avec le public
              h4 #FashionCreaTech
              a.btn.inscript(href='https://www.eventbrite.fr/e/billets-ftweek-fashion-creative-technology-nouveaux-metiers-et-nouveaux-outils-28086010012?aff=erelpanelorg' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') chez NUMA
              ul.list-unstyled.partners.small.compressed.clearfix
                li: a(href="http://www.clausette.cc" name="clausette" target="_blank"): img.clausette(src="images/clausette_logo2_black-1.png", alt="clausette")
                li: a(href="http://wearesocial.com/fr/" name="wearesocial" target="_blank"): img.wearesocial(src="images/logo_wearesocial.png", alt="wearesocial")
                li: a(href="http://www.creativetechtank.org/" name="creativetechtank" target="_blank"): img.creativetechtank(src="images/logo_creativetechtank.png", alt="creativetechtank")
                li: a(href="http://paris.numa.co" name="Numa" target="_blank"): img.studiomaze(src="images/logo_NUMA_black.png", alt="Numa")
                br
                li: a(href="https://lafonderie-idf.fr/" name="La fonderie" target="_blank"): img.studiomaze(src="images/logo-cocktail-fonderie.png", alt="La fonderie")
            .col-md-6
              p La technologie a beaucoup modifié la création dans les 10 dernières années. La création et la technologie se nourrissent l’une l’autre et font apparaître de nouveaux métiers. Un décloisonnement des champs et des disciplines au profit d’un territoire commun entre la mode, la programmation et d'autres champs créatifs. Au-delà des buzzwords, l’innovation créative se retrouve dans l'ouverture vers de nouvelles communautés : Startups, Makers, Media Artists, laboratoires, etc. Présentation & débat.
              p <b>Intervenants :</b>
                <br/><a href="https://www.linkedin.com/in/st%C3%A9phane-maguet-b82a0643">Stéphane Maguet</a>, Directeur de la Creative Technology chez <a href="http://wearesocial.com/fr/">We Are Social</a> & Président du <a href="http://www.creativetechtank.org/">Creative Tech Tank (CTT)</a>
                <br/><a href="https://www.linkedin.com/in/noemiebalmat">Noémie Balmat, Fashion & Innovation Strategist</a>, <a href="http://www.clausette.cc/fr/">Clausette.cc</a> / <a href="https://www.soonsoonsoon.com/">Soon Soon Soon</a> / Responsable du Collège Mode du <a href="http://www.creativetechtank.org/">CTT</a>

        .day
            h3 JEUDI 13 OCTOBRE 2016
          .row.event
            .col-md-6
              strong.time 10h30 - 18h30
              h4.name FashionTech Expo
              h4 #FTExpo
              a.btn.inscript(href='https://docs.google.com/forms/d/1h7zzOx-TTQo0n8QhLGplmURFpldwJ_P3d5OJhymCrr8/prefill' target="_blank") Exposer
              a.btn.inscript(href='https://www.eventbrite.com/e/fashiontech-expo-paris-tickets-27026508013' target="_blank") Visiter
              a.page-scroll.location(href='#cd-google-map') à l'Institut Français de la Mode
              ul.list-unstyled.partners.small.compressed.clearfix
                li: a(href="http://www.hallcouture.com/" name="hallcouture" target="_blank"): img.hallc(src="images/logo_hallcouture.png", alt="hallcouture")
                li: a(href="http://federationfashiontech.com/" name="lafashiontech" target="_blank"): img.lafashiontech(src="images/logo_lafashiontech.png", alt="lafashiontech")
                li: a(href="http://www.ifm-paris.com/" name="ifm" target="_blank"): img.ifm(src="images/logo_ifm.jpg", alt="ifm")
                li: a(href="http://brandjoys.com" name="brandjoys" target="_blank"): img.brandjoys(src="images/logo_brandjoys.png", alt="brandjoys")
                li: a(href="http://hallcouture.com/studiotech-innovative-fashion-productions-and-services/" name="studiotech" target="_blank"): img.studiotech(src="images/logo_studiotech.jpg", alt="studiotech")
                li: a(href="https://www.lafabrique-ecole.fr/" name="lafabrique"): img.lafabrique(src="images/logo_lafabrique.png", alt="lafabrique")
                li: a(href="http://www.messefrankfurt.fr/" name="messefrankfurt" target="_blank"): img.messefrankfurt(src="images/logo_messefrankfurt.png", alt="messefrankfurt")
                li: a(href="http://avantex.fr.messefrankfurt.com/paris/fr/visitors/welcome.html" name="avantex" target="_blank"): img.avantex(src="images/logo_avantex.jpg", alt="avantex")
            .col-md-6: p Une journée d’exposition à l’Institut Français de la Mode, des projets, créateurs et startups FashionTech émergents sélectionnés pour leurs qualités en terme d’innovation, de maturité, d’esthétique, d’intérêt général.
              p Détails pratiques : Priorité d'accès aux professionnels, invités et à la presse dans la matinée dans la limite des places disponibles. Pause déjeuner des exposants de 12h30 à 13h30. Accueil plus large aux visiteurs dès 14h00.
              p Rendez-vous culturel et interactif, terrain d’échange et de rencontre privilégié des amateurs et professionnels de la mode et du numérique, la FashionTech Expo rassemble les curieux des évolutions de la mode. Cette rencontre vise à révéler et encourager la construction d’une mode du progrès connectée aux enjeux actuels.

          .row.event
            .col-md-6
              strong.time 19h00 - 22h30
              h4.name Cocktail de cloture
              a.btn.inscript(href='https://www.eventbrite.com/e/fashiontech-expo-paris-tickets-27026508013' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') à l'Institut Français de la Mode
              ul.list-unstyled.partners.small.compressed.clearfix
                li: a(href="http://www.messefrankfurt.fr/" name="messefrankfurt" target="_blank"): img.messefrankfurt.nomargin(src="images/logo_messefrankfurt.png", alt="messefrankfurt")
                li: a(href="http://avantex.fr.messefrankfurt.com/paris/fr/visitors/welcome.html" name="avantex" target="_blank"): img.avantex(src="images/logo_avantex.jpg", alt="avantex")
            .col-md-6: p La FashionTech Week se termine par un cocktail de clôture festif mis en place par tous les partenaires de la FashionTech Week à l’Institut Français de la Mode dans la continuité de la FashionTech Expo.
              p C’est un moment de rassemblement et d’échange pour finir la FashionTech Week en beauté et lever son verre à l’avenir de la mode !
              p Le cocktail de clôture est offert par notre partenaire <a href="http://www.messefrankfurt.fr/">Messe Frankfurt France</a>.
              p: ul <h3>Programme</h3>
                li  <strong style="font-weight: bold;">19h00</strong> le mot de notre marraine Madame Axelle Lemaire, Secrétaire d'État auprès du ministre de l'Économie et des Finances, chargée du Numérique et de l'Innovation, filmée et/ou représentée et annonce du prix du public - un espace gratuit sur le prochain salon <a href="http://avantex.fr.messefrankfurt.com/paris/fr/visitors/welcome.html">Avantex</a>, un mois d'utilisation du fablab <a href="http://www.usine.io/">Usine.IO</a> ainsi que dans l'atelier partagé <a href="http://hallcouture.com/">Hall Couture</a> remis par <a href="http://www.2g2l.com/">Louis Gerin et Gregory Lamaud</a>, mot de remerciement des organisateurs de la FashionTech Week
                li  <strong style="font-weight: bold;">20h00</strong> Vidéo Mapping & Fashion performance avec Kaleidos
                li  <strong style="font-weight: bold;">20h30-22h30</strong> Cocktail de clôture offert par notre partenaire <a href="http://www.messefrankfurt.fr/">Messe Frankfurt France</a>

    section#organisateurs
      .container
        h2.text-center Co Organisateurs
        .coorg
          .col
            .img: a(href="https://numa.paris/"): img.iconity(src="images/logo_numa.png", alt="partner")
            p.no-bottom-margin Acteur majeur de l’écosystème numérique depuis 14 ans, NUMA fédère inventeurs, entrepreneurs et créateurs pour accélérer et faire rayonner l’innovation. Présent à Paris, Moscou et Bengalore, NUMA s'organise autour de trois missions :
            ul.no-left-margin
              li La structuration des communautés par l'événementiel (1500 evenements en 2015 réunissant 80 000 personnes)
              li L'accélération de startups (72 startups accélérées depuis 2011, 60 M€ de levée de fonds, 50 M€ d'exit)
              li La transformation numérique des entreprises (1/3 du CAC 40 accompagné, + 50% de croissance / an)
          .col
            .img: a(href="http://www.hallcouture.com/"): img.hallc(src="images/logo_hallcouture.png", alt="partner")
            p Espace de travail partagé dédié à la Mode française innovante.
            p Hall Couture combine les services Atelier de fabrication associant machines à commande numériques et machines traditionnelles
            ul.no-left-margin
              li Espace de coworking, de formation et d’échange ;
              li Espace physique  de présentation, de vente et de location des créations internes ;
              li Accueil d’activités de Recherche, à commencer par les projets du TEXTILab.
          .col
            .img: a(href="https://wair.io/"): img.iconity(src="images/logo_wair.png", alt="partner")
            p WAIR is an innovative Start-up which creates the first connected antipollution scarf. It is at the same time a fashion accessory, an effective protection against the pollution and a measure of air quality sensor. Connected with the application BE AWAIR, the sensor as the telephone can warn the user when the air around him is polluted, in some movements, he can transform his scarf into mask and be protected.
          .col
            .img: a(href="https://escpeurope.eu"): img.iconity(src="images/logo_escp.png", alt="partner")
            p chaire « Mode et technologie » qui a pour mission de promouvoir auprès des étudiants et alumnis le rôle de la technologie comme catalyseur de l’innovation envisagée sous ses multiples formes dans les secteurs de la mode et du luxe. Cette chaire est soutenue par Lectra.
          .col
            .img: a(href="https://beiconity.com/"): img.iconity(src="images/logo_iconity.png", alt="partner")
            p ICONITY est une plateforme de location dédiée à la mode, où chacun peut partager les plus belles pièces de son dressing et louer des vêtements ou des accessoires de mode auprès d'autres particuliers et de designers. <br>Notre philosophie : Collect Moments, Share Fashion!
          .col
            .img: a(href="http://www.lisaa.com/"): img.iconity(src="images/logo_lisaa.png", alt="partner")
            p L'Institut Supérieur des Arts Appliqués forme des créateurs et des managers dans les domaines de la mode, de l'animation, du jeu vidéo, de l'architecture d'intérieur, du design et du graphisme.
          .col
            .img: a(href="https://inhope.com/"): img.iconity(src="images/logo_inhope.png", alt="partner")
            p IN-HOPE (R&amp;D Lab): By questioning how we use light in the context of climate change and light polalution, IN-HOPE creates new indoor and outdoor lighting aesthetics through the development of luminous fabrics, wearable tech and IOT lighting objects.
          .col
            .img: a(href="http://federationfashiontech.com/"): img.lafashiontech(src="images/logo_lafashiontech.png", alt="partner")
            p La fashiontech est une association fondée par les acteurs du développement d’un secteur mode et textile exploratoire, innovant, créatif et responsable qui se veut en phase avec notre aire et ses enjeux.
            p Son objet est en France et dans tous les pays étrangers : de fédérer, d’animer, promouvoir et développer le Réseau d’entreprises et d’acteurs alliant innovations technologiques, sociales et durables et dont les activités sont liées au textile, au design interactif  et à la mode.
          .col
            .img: a(href="https://www.lafabrique-ecole.fr/"): img.lafabrique(src="images/logo_lafabrique.png", alt="partner")
            p Mode et décoration sont au cœur de la nouvelle école de la cci paris idf. L’ambition de La Fabrique est d’être un lieu de brassage, d’inventions et d’innovations constantes destiné à ré-inventer l’excellence française des savoir-faire techniques de la mode et de la décoration.
          .col
            .img: a(href="http://hallcouture.com/studiotech-innovative-fashion-productions-and-services/"): img.iconity(src="images/logo_studiotech.jpg", alt="partner")
            p Le Studiotech répond aux demandes qu’il s’agisse de prototypage, de conseil ou de formation dans le champ de nos compétences associant mode et technologies.
          .col
            .img: a(href="http://brandjoys.com"): img.iconity(src="images/logo_brandjoys.png", alt="partner")
            p Brand Joys, est un écosystème collaboratif interdisciplinaire, mettant en avant des créateurs innovants ou en recherche de collaborations innovantes, dans une ambiance conviviale à travers des showrooms, des expositions, des workshop et défilés.  La promotion de marques disruptives, crée l’événement et renouvelle l’expérience client, tout en démocratisant la mode innovante. La relation client / créateur est directe et plus marquante.

    section#partners
      .container.text-center
        h2 En partenariat avec
        .row
          ul.list-unstyled.partners.secon.clearfix
            li: a(href="http://www.elle.fr/" name="ELLE" target="_blank"): img.elle(src="images/logo_elle.png", alt="ELLE")
            li: a(href="http://www.showroomprive.com/"): img.lookforward(src="images/logo_lookforward.png", alt="lookforward")
            li: a(href="http://www.messefrankfurt.fr/" name="messefrankfurt" target="_blank"): img.messefrankfurt(src="images/logo_messefrankfurt.png", alt="messefrankfurt")
        .row
          ul.list-unstyled.partners.clearfix
            li: a(href="http://www.wearhacks.com/" name="wearhacks" target="_blank"): img.wearhacks(src="images/logo_wearhacks.png", alt="wearhacks")
            li: a(href="http://lapaillasse.org/" name="La paillasse" target="_blank"): img.lapaillasse(src="images/logo_lapaillasse.png", alt="Lapaillasse")
            li: a(href="https://www.linkedin.com/pub/claire-eliot/55/774/627" name="claireeliot" target="_blank"): img.claireeliot(src="images/logo_claireeliot.png", alt="ClaireEliot")
            li: a(href="http://www.dressing-room-service.com/" name="Dressing Room Service" target="_blank"): img.dressingroomservice(src="images/logo_dressingroomservice.png", alt="Dressing Room Service")

            li: a(href="http://nirparis.fr/" name="The Fashion Loft" target="_blank"): img.tfl(src="images/logo_thefashionloft.png", alt="The Fashion Loft")
            li: a(href="http://www.lectra.com/fr" name="Lectra" target="_blank"): img.lectra(src="images/logo_lectra.png", alt="Lectra")
            li: a(href="http://www.interlaced.co" name="interlaced" target="_blank"): img.interlaced(src="images/logo_interlaced.png", alt="interlaced")
            li: a(href="http://www.clausette.cc" name="clausette" target="_blank"): img.clausette(src="images/logo_clausette.png", alt="clausette")
            li: a(href="http://www.fashhackaustralia.com/" name="fashionhack" target="_blank"): img.fashionhack(src="images/logo_fashionhack.png", alt="Player")
            li: a(href="http://modelab.fr/" name="modelab" target="_blank"): img.modelab(src="images/logo_modelab.png", alt="modelab")
            li: a(href="http://www.maddyness.com/" name="Maddyness" target="_blank"): img.maddyness(src="images/logo_maddyness.png", alt="Maddyness")

            li: a(href="http://www.ifm-paris.com/" name="ifm" target="_blank"): img.ifm(src="images/logo_ifm.jpg", alt="ifm")
            li: a(href="http://www.adaweek.fr/" name="adaweek" target="_blank"): img.adaweek(src="images/logo_adaweek.jpg", alt="adaweek")
            li: a(href="http://www.makery.info/" name="makery" target="_blank"): img.makery(src="images/logo_makery.png", alt="makery")
            li: a(href="http://volumesparis.org/" name="volumes" target="_blank"): img.volumes(src="images/logo_volumes.png", alt="volumes")
            li: a(href="http://www.bigbooster.org/" name="bigbooster" target="_blank"): img.bigbooster(src="images/logo_bb.png", alt="bigbooster")
            li: a(href="http://www.defimode.org/" name="defimode" target="_blank"): img.defimode(src="images/logo_defimode.png", alt="defimode")


            //- li: a(href="http://frenchweb.fr/" name="Frenchweb" target="_blank"): img.frenchweb(src="images/logo_frenchweb.png", alt="Frenchweb")
            //- li: a(href="http://www.ubergizmo.com/" name="Ubergizmo" target="_blank"): img.ubergizmo(src="images/logo_ubergizmo.png", alt="Ubergizmo")
            //- li: a(href="http://latelierfrancais.fr/" name="L'atelier Francais" target="_blank"): img.latelierfr(src="images/logo_latelierfr.png", alt="L'atelier Francais")
            //- li: a(href="http://gaite-lyrique.net/" name="Gaite Lyrique" target="_blank"): img.gaite(src="images/logo_gaite.png", alt="Gaite Lyrique")
            //- li: a(href="http://www.lafonderie-idf.fr/" name="" target="_blank"): img.lafonderie(src="images/logo_lafonderie.png", alt="Lafonderie")
            //- li: a(href="http://www.cnd.fr/" name="Centre National Danse" target="_blank"): img.cnd(src="images/logo_cnd.png", alt="CND")
            //- li: a(href="http://socialmediaclub.fr/" name="Social Media Club" target="_blank"): img.smc(src="images/logo_socialmediaclub.png", alt="Socialmediaclub")
            //- li: a(href="http://www.silex-id.com/" name="Silex" target="_blank"): img.silex(src="images/logo_silex.png", alt="Silex")
            //- li: a(href="http://upfit-services.com/" name="upfit-services" target="_blank"): img.uplift(src="images/logo_uplift.png", alt="Upfit")

    //- section#cd-google-map
      #google-container
      #loc1.sqb NUMA: 39 Rue du Caire
      #loc2.sqb La Gaîté Lyrique: 3bis Rue Papin
      #loc3.sqb La Paillasse: 226 Rue Saint-Denis
      #loc4.sqb ESCP: 79 Avenue de la République
      #loc5.sqb CND: 1 Rue Victor Hugo
      #cd-zoom-in.sqb
      #cd-zoom-out.sqb

      //- address 86-90 Paul Street, London, EC2A 4NE

    footer
      .container.text-center
        p Copyright &copy; <a href="http://www.numa.paris" name="numa Paris" target="_blank">NUMA</a> / <a href="http://hallcouture.com/studiotech-innovative-fashion-productions-and-services/">Studiotech</a> Fashion Tech Week 2015

    script(src='assets/jquery/jquery.js')
    script(src='assets/jquery/jquery.easing.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src="js/app.js")
    //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjSkiy68CUTGVAELIKh_goNZTFRRzv9rw")
    //- script(src="assets/maps/map.js")
