doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Fashion And tech week.
    link(href='css/style.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')

  body(id="page-top" data-spy="scroll" data-target=".navbar-fixed-top")
    script.
     // Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59815331-3', 'auto');
      ga('send', 'pageview');


      // Navigation
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
          a.navbar-brand.page-scroll(href='#page-top')
            .logo: img(src="images/logo.svg", alt="FashionTech Paris")
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            li.hidden: a(href='#page-top')
            li: a.page-scroll(href='#about') A propos
            li: a.page-scroll(href='#program') Programme
            li: a.page-scroll(href='#organisateurs') Organisateurs
            li: a.page-scroll(href='#partners') Partenaires
            li: a.page-scroll(href='#cd-google-map') Lieux
    
    header.intro
        .container
          .row
            .col-md-6: img(src="images/fashiontechweekparis.svg", alt="Fashiontechweekparis").ftw
            .col-md-6
              .introbox
                //- p NUMA avec l’ESCP Europe, Iconity, Hall Couture et La Fonderie, en partenariat avec ELLE
                a.btn.inscript(href="http://events.numa.paris/Cycles-events/FashionTech-2-the-Future-of-Fashion-is-Now" target="_blank") Inscription
                 
                
    section#about
      .container
        h2.text-center A propos
        .col-sm-8.col-sm-push-2
          p.text-intro Impression digitale, vêtements connectés, textile numérique : l’innovation ouvre à la mode et  au prêt-à -porter une infinité d’opportunités et bouscule les modèles établis. Retrouvez la FashionTech à NUMA, La Gaîté Lyrique, La Paillasse et l’ESCP Europe pendant 5 jours pour réfléchir, construire et découvrir ensemble la mode de demain.
          p.text-intro La Fashion Tech c’est aussi à <a href="http://fashiontechdays.fr/" target="_blank">Roubaix</a>

    section#program
      .container
        h2.text-center Programme
        .day
            h3 Lundi 02
          .row.event
            .col-sm-2: strong.time 19h - 22h00
            .col-sm-4: h4.name Ouverture de La FashionTech <br> Conférence : mode : prêt à innover ?
            .col-sm-4: p.desc Présentation de le deuxième édition de la FashionTech week et des partenaires. <br> Quelle mode pour demain ? Etat des lieux et prospective, avec: <br>  <br> - Pierre François Lelouet, PDG de NellyRodi <br> - Céline Lippi, fondatrice Fashion Capital Partners <br> - Antoine Menet, Directeur E-Business The Other Store
            .col-sm-2: em.location at NUMA

        .day
            h3 Mardi 03
          .row.event(style="margin-bottom:0")
            .col-sm-2: strong.time 19h - 20h
            .col-sm-4: h4.name Fashion Startups Pitch Night !
            .col-sm-4: p.desc Pitchs des 5 start-up sélectionnées par appel à projet. Un prix sera décerné au meilleur pitch par un jury de professionnels avec: <br> Céline Lippi, <a href="#">Fashion Capital Parners</a> &amp; <a href="#">Fashion Tech Lab</a> <br> Benoit Marrel, <a href="#">Breega Capital</a> <br> Renaud Guillerm, <a href="#">Vide-dressing</a> <br> Antoine Régis, <a href="#">ChicTypes</a> <br> Jeanne Bloch, <a href="#">Sustainable innovation &amp; Performance</a>
            .col-sm-2: em.location at NUMA
          .row.event
            .col-sm-2: strong.time 20h - 21h
            .col-sm-4: h4.name Success story d'entrepreneurs 
            .col-sm-4: p.desc Romain Moyne, co-fondateur de Where to get.it et Renaud Guillerm, co-fondateur de Vide-dressing
            .col-sm-2: em.location at NUMA
          .row.event
            .col-sm-2: strong.time 18h - 21h30
            .col-sm-4: h4.name Lumière Augmentée par la Danse (Light Augmented by Dance -LAbyD) Workshop pour danseurs "danse et wearable tech
            .col-sm-4: p.desc En utilisant les techniques des textiles intelligents pour éclairer l’espace corporel des danseurs, l'artiste Jeanne Bloch crée un vocabulaire qui n’est ni tout à fait du mouvement ni tout à fait de la lumière mais qui ne peut exister que par la combinaison des deux. <br>Cette recherche participe à son questionnement sur les alternatives écologiques à l’éclairage scénique. 
            .col-sm-2: em.location at CND Centre National de la Danse

        .day
            h3 Mercredi 04
          .row.event
            .col-sm-2: strong.time 18h30
            .col-sm-4: h4.name Table-ronde "Les nouveaux business models de la mode" 
            .col-sm-4: p.desc Avec Annabelle Nahum, Co-Fondatrice de  MyCoutureCorner Nicolas Petitjean, Directeur Innovation DBApparel Europe Philippe Ribera, Directeur Marketing Software de Lectra Animée par Valérie Moatti et Céline Abecassis-Moedas, co-directrices académiques de la Chaire d’enseignement et de recherche Lectra- ESCP Europe mode et technologie
            .col-sm-2: em.location ESCP Europe

        .day
            h3 Jeudi 05
          .row.event
            .col-sm-2: strong.time 19h - 20h
            .col-sm-4: h4.name La communication des marques à l’ère du numérique : multiplicité des temps, des lieux et de l'action
            .col-sm-4: p.desc Avec la participation de : <br> - Chloé Beillacou, Client service director chez TBWA Paris / DAN Paris<br> -  Fabrice Starzinskas, responsable studio BRIGHT, plateforme de co-création digitale<br> - Gachoucha Kretz,auteure à HEC d'une thèse consacrée au "management de la popularité en ligne : les blogueurs de mode et de luxe" et responsable du MBA "Luxury Business" à l'ISC-P <br> - Pierre Zandrowicz, directeur artistique FatCat films<br> Cette table-ronde sera modérée par Charlotte de Broglie, chargée de mission à La Fonderie, agence numérique de l'Ile de France En partenariat avec le Social Media Club 
            .col-sm-2: em.location Gaité Lyrique

        .day
            h3 Vendredi 06
          .row.event
            .col-sm-2: strong.time 19h - 23h
            .col-sm-4: h4.name Showroom  et ateliers de créateurs innovants <br> Soirée de clôture
            .col-sm-4: p.desc Pour clôturer ensemble cette deuxième édition de la FashionTech week rendez-vous à La Paillasse à la rencontre des créateurs les plus innovants. Le FashionTech showroom c'est l'occasion pour le grand public de découvrir en avant-première la mode de demain : mode ethique, textiles innovants et projets novateurs. Le jury remettra le prix du "FashionTech creator" à son projet favori. Puis place à la fête avec dj et cocktail. Soirée organisée par Alice Gras de Hall Couture en partenariat avec la Paillasse, Sew&amp;Laine, Eve Simonet et Claire Eliot  <br><br> Membre du jury : <br> Pascal GAUTRAND : Fondateur, designer et consultant chez Made in Tow Première Vision, Made in Town, IFM <br> Isabelle Quéhé : fondatrice de l’ Ethical Fashion Show, Experte mode éthique <br> Arielle Levy : fondatrice de l’Herbe Rouge ; <br> Clotilde Provost : fondatrice de La Méthode, conseillère en communication et création de marque, Consultante indépendante en Entrepreneuriat et stratégies de Communications ; <br> Pierre Mary, Chef de projet DATA chez Tradelab ITD, Biohacker, digital artist and blogger ; <br> Martine Baldassari, professeur agrégée d’économie-gestion et coordinatrice du BTS technico-commercial, lycée Elisa Lemonnier <br> Marie Laurence Chanut : Modéliste confirmée, spécialiste en savoir-faire <br> Charlotte Boutier : diplômée des arts décoratifs de Limoges et Chef de projet événementiel chez Numa
            .col-sm-2: em.location La Paillasse

    section#organisateurs
      .container
        h2.text-center Co Organisateurs
        <hr>
        .coorg
          .col
            .img: a(href="https://numa.paris/"): img.numa(src="images/logo_numa.png", alt="partner")
            p Acteur majeur de l’écosystème numérique depuis 14 ans, NUMA fédèrent inventeurs, entrepreneurs et créateurs de l’innovation pour accélérer et faire rayonner l’entrepreneuriat du XXI ème siècle.
          .col
            .img: a(href="https://escpeurope.eu"): img.escp(src="images/logo_escp.png", alt="partner")
            p chaire « Mode et technologie » qui a pour mission de promouvoir auprès des étudiants et alumnis le rôle de la technologie comme catalyseur de l’innovation envisagée sous ses multiples formes dans les secteurs de la mode et du luxe. Cette chaire est soutenue par Lectra.
          .col
            .img: a(href="http://www.hallcouture.com/"): img.hallc(src="images/logo_hallcouture.png", alt="partner")
            p Le 1er espace collaboratif dédié à la Mode française Innovante, conçu par des créateurs pour des créateurs et des consommateurs avisés. Hall Couture intègre : atelier, coworking et boutique, tout en encourageant des pratiques plus vertueuses respectant les travailleurs, les consommateurs et l’environnement.
          .col
            .img: a(href="https://beiconity.com/"): img.iconity(src="images/logo_iconity.png", alt="partner")
            p ICONITY est une plateforme de location dédiée à la mode, où chacun peut partager les plus belles pièces de son dressing et louer des vêtements ou des accessoires de mode auprès d'autres particuliers et de designers. <br>Notre philosophie : Collect Moments, Share Fashion!
          .col
            .img: h3: a(href="http://jeannebloch.com/") Jeanne Bloch
            p Jeanne Bloch est artiste-chorégraphe et spécialiste du développement durable. Elle développe des textiles lumineux en utilisant la danse comme medium d'experimentation. Sa recherche a pour objectif d'imaginer une nouvelle esthétique de l'éclairage ainsi que de nouveaux usages dans un monde sous contrainte énergétique extrême.

    section#partners
      .container.text-center
        h2 En partenariat avec
        .row
          ul.list-unstyled.partners.clearfix
            li: a(href="http://www.elle.fr/" name="ELLE" target="_blank"): img.elle(src="images/logo_elle.png", alt="ELLE")
            li: a(href="http://www.maddyness.com/" name="Maddyness" target="_blank"): img.maddyness(src="images/logo_maddyness.png", alt="Maddyness")
            li: a(href="http://frenchweb.fr/" name="Frenchweb" target="_blank"): img.frenchweb(src="images/logo_frenchweb.png", alt="Frenchweb")
            li: a(href="http://www.ubergizmo.com/" name="Ubergizmo" target="_blank"): img.ubergizmo(src="images/logo_ubergizmo.png", alt="Ubergizmo")
            li: a(href="http://latelierfrancais.fr/" name="L'atelier Francais" target="_blank"): img.latelierfr(src="images/logo_latelierfr.png", alt="L'atelier Francais")
            li: a(href="http://gaite-lyrique.net/" name="Gaite Lyrique" target="_blank"): img.gaite(src="images/logo_gaite.png", alt="Gaite Lyrique")
            li: a(href="http://lapaillasse.org/" name="La paillasse" target="_blank"): img.lapaillasse(src="images/logo_lapaillasse.png", alt="Lapaillasse")
            li: a(href="http://www.lafonderie-idf.fr/" name="" target="_blank"): img.lafonderie(src="images/logo_lafonderie.png", alt="Lafonderie")
            li: a(href="http://www.cnd.fr/" name="Centre National Danse" target="_blank"): img.cnd(src="images/logo_cnd.png", alt="CND")
            li: a(href="http://socialmediaclub.fr/" name="Social Media Club" target="_blank"): img.smc(src="images/logo_socialmediaclub.png", alt="Socialmediaclub")

    section#cd-google-map
      #google-container
      #loc1.sqb NUMA: 39 Rue du Caire
      #loc2.sqb La Gaîté Lyrique: 3bis Rue Papin
      #loc3.sqb La Paillasse: 226 Rue Saint-Denis
      #loc4.sqb ESCP: 79 Avenue de la République
      #loc5.sqb CND: 1 Rue Victor Hugo
      #cd-zoom-in.sqb
      #cd-zoom-out.sqb

      //- address 86-90 Paul Street, London, EC2A 4NE

    footer
      .container.text-center
        p Copyright &copy; <a href="http://www.numa.paris" name="numa Paris" target="_blank">NUMA</a> Fashion Tech Week 2015

    script(src='assets/jquery/jquery.js')
    script(src='assets/jquery/jquery.easing.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src="js/app.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjSkiy68CUTGVAELIKh_goNZTFRRzv9rw")
    script(src="assets/maps/map.js")