doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Expolring the latest innovations in the field of fashion and technology, an event organized by NUMA and Parners, in Paris.')
    meta(name='author', content='Tristan Lebleu Charlotte de Broglie Marius Nedelcu')
    meta(name="keywords" content="fashion technology smart materials nanotech paris innovations textile")
    meta(property="og:image" content="http://fashiontechweek.fr/images/ftwk.png") 
    title FashionandTechweek
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="icon" href="images/favicon.ico">
    link(href='css/style.css', rel='stylesheet')

  body(id="page-top" data-spy="scroll" data-target=".navbar-fixed-top")
    script.
     // Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59815331-3', 'auto');
      ga('send', 'pageview');
    
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
          a.navbar-brand.page-scroll(href='#page-top')
            .logo: img(src="images/logo.svg", alt="FashionTech Paris")
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            li.hidden: a(href='#page-top')
            li: a.page-scroll(href='#about') A propos
            //- li: a.page-scroll(href='#program') Programme
            li: a.page-scroll(href='#organisateurs') Organisateurs
            li: a.page-scroll(href='#partners') Partenaires
            //- li: a.page-scroll(href='#cd-google-map') Lieux
    
    header.intro#about
        .container
          .row
            .col-md-6: img(src="images/fashiontechweekparis.svg", alt="Fashiontechweekparis").ftw
            .col-md-6
              .introbox
                h2 Du vendredi 18 septembre au samedi 26 septembre
                h1 Venez bousculer la mode lors de la 3ème FashionTech week Paris !
                //- h3
                  a(href="http://bit.ly/FTW3callproject", target="_blank") Call for event - FashionTech Week Paris
                //- h3
                  a(href="http://bit.ly/FTW3callevent", target="_blank") Call for projects - FashionTech Week Paris

                //- h2(property="og:title") NUMA avec l’ESCP Europe, Iconity, Hall Couture et La Fonderie, en partenariat avec ELLE
                //- p.text-intro Impression digitale, vêtements connectés, textile numérique : l’innovation ouvre à la mode et  au prêt-à -porter une infinité d’opportunités et bouscule les modèles établis. Retrouvez la FashionTech à NUMA, La Gaîté Lyrique, La Paillasse et l’ESCP Europe pendant 5 jours pour réfléchir, construire et découvrir ensemble la mode de demain. <br> <a href="https://twitter.com/hashtag/fashiontech" target="_blank"><img src="images/icon_twitter.svg" alt="twitter">#fashiontech</a> &nbsp;&nbsp; <a href="https://twitter.com/hashtag/FTweek" target="_blank"><img src="images/icon_twitter.svg" alt="twitter">#FTweek</a>
                //- p.text-intro La Fashion Tech c’est aussi à <a href="http://fashiontechdays.fr/" target="_blank">Roubaix</a></p>
    
    section
      .container
        .row
          .col-sm-12.frontdesc
            h3 Du vendredi 18 septembre au samedi 26 septembre 2015. la 3ème édition de la FashionTech week Paris en partenariat avec ELLE.
            p La mode de demain se créé maintenant : wearables, matières textiles innovantes, boutiques connectées... Les possibilités et perspectives sont multiples.
            p Paris, capitale de la mode et hub européen de l’innovation est un acteur clé de la FashionTech. Une ville choisie pour réunir cet écosystème en pleine croissance (marques de luxe et de prêt à porter, créateurs, hackers, startups …) s'intéressant à la combinaison de ces domaines pour continuer de faire émerger, partager et co-construire la FashionTech.
            p Au-delà du succès rencontré par l’événement auprès du grand public et des professionnels il a permis de mettre en lumière des initiatives innovantes comme Wair, foulard anti-pollution qui a par la suite gagné le défis Cisco ou Clother, startup qui remporta 2 prix au dernier MadeInESCP.
            p Au programme de cette édition: un green hackathon, startup pitch, showroom de créateurs, barcamp, conférences ...
    
    section#program
      .container
        h2.text-center Programme
        .day
            h3 du vendredi 18 au dimanche 20 septembre
          .row.event
            .col-sm-6
              //- strong.time 17h - 18h
              h4.name Le GREENATHON de la Fashion Tech Week - Curated by WEARHACKS
              a.btn.inscript(href='https://greenathon-fashiontechweek.splashthat.com/' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') à la paillasse
              ul.list-unstyled.partners.small.clearfix
                li: a(href="http://www.wearhacks.com/" name="wearhacks" target="_blank"): img.wearhacks(src="images/logo_wearhacks.png", alt="wearhacks")
                li: a(href="https://wair.io/" name="wair"): img.wair(src="images/logo_wair.png", alt="partner")
                li: a(href="http://lapaillasse.org/" name="La paillasse" target="_blank"): img.lapaillasse(src="images/logo_lapaillasse.png", alt="Lapaillasse")
                li: a(href="http://www.hallcouture.com/" name="hallcouture"): img.hallc(src="images/logo_hallcouture.png", alt="partner")
                
            .col-sm-6: p.desc Le challenge : comment rendre la mode du futur plus responsable ? Comment la technologie et les textiles innovants pourraient-ils contribuer à créer des vêtements et accessoires plus durables ? Un vrai marathon de création autour du thème « Mode, numérique et nouveaux matériaux au service de l’environnement ». Le tout sous forme de défi façon Hackathon : 54 heures de création non-stop en équipe, accompagnées par des mentors experts dans le domaine de la mode, de la technologie et/ou de l'écologie et ayant pour but d’éduquer et de former aux vêtements innovants et connectés. L’évènement se veut multidisciplinaire et accueillera des designers, créateurs, développeurs, hackers, ingénieurs, makers… Les projets gagnants seront exposés au FashionTech Showroom lors de la FashionTech Week ainsi que lors d’un évènement relatif à la COP21 en décembre 2015 PLUS D’INFOS ET INSCRIPTIONS : 
              a(href="https://greenathon-fashiontechweek.splashthat.com/" target="_blank") greenathon-fashiontechweek.splashthat.com

        .day
            h3 Lundi 21 septembre
          .row.event
            .col-sm-6
              strong.time 18h30 à 19h45 à NUMA
              h4.name Quels lieux et quelles formations pour le secteur de la FashionTech en France ?
              a.btn.inscript(href='http://events.numa.paris/' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') à NUMA

            .col-sm-6: p.desc Pour répondre à un secteur en pleine expansion de nombreuses structures d’accompagnements ont vu le jour en 2014 : incubateurs, accélérateurs, co-working .. Les écoles de mode commencent elles aussi à mettre en place des cursus dédiés à la technologie et la mode. Comment accompagner au mieux le développement de ce secteur ? Quelle place la FashionTech française occupe t-elle sur le plan international ? <br>Vous êtes étudiant, créateurs, startuppers, en quoi ces structures peuvent-elles vous être utiles ? Qu’en attendez-vous ?<br>
              h3 Avec:
              ul.desc
                li Annick Jeheanne, HubMode 
                li Alice Gras, Hall Couture
                li Look Forward, incubateur de Showroom Privé 
                li Anne Balas-Klein, Directrice Management &amp; Fashion Business LISAA mode
                li Daniel Gerges, directeur de Silicon B
              
          .row.event
            .col-sm-6
              strong.time 20h à 21h15
              h4.name Mode, open source, impression 3D, tissus connectés : quels enjeux, risques et opportunités pour les marques et les créateurs ?
              a.btn.inscript(href='http://events.numa.paris/' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') à NUMA

            .col-sm-6
              h3 Modération :
              ul.desc
                li Naïma Alahyane Rogeon, avocate, Cabinet Alain Bensoussan 
                li Vincent Dugast, créateur
                li Frédéric Lintz, designer, co-fondateur de Eliumstudio
              p Ouverture des inscriptions le 31 aout
        .day
            h3 Mardi 22 septembre
          .row.event
            .col-sm-6
              strong.time 19h - 22h à NUMA
              h4.name Fashion Pitch Night !
              a.btn.inscript(href='http://www.fashionpitchnight.com/' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') à NUMA
              ul.list-unstyled.partners.small.clearfix
                li: a(href="http://www.lisaa.com/" name="lisaa" target="_blank"): img.lisaa(src="images/logo_lisaa.png", alt="LISAA")
                li: a(href="https://beiconity.com/"): img.iconity(src="images/logo_iconity.png", alt="partner")
            .col-sm-6: p.desc The Fashion Pitch Night is dedicated to the startups combining Fashion, Tech &amp; Innovation. 5 startups will pitch their projects to a jury of professionals, a successful entrepreneur will talk about his vision of FashionTech and how he setups this during a keynote and to conclude we will exchange and network thanks to a cocktail! <br><br> 5 startups will be selected as finalists after an European call for project. Apply now, until September 1st! 
              a(href='http://bit.ly/FTW3callproject') Speakers &amp; 
              | prizes will be announced soon but you already can register HERE.Event organized by ICONITY with the support of LISAA. <br>
              | PLUS D’INFOS ET INSCRIPTIONS : 
              a(href='http://www.fashionpitchnight.com/') fashionpitchnight.com

        .day
            h3 Jeudi 24 septembre :
          .row.event
            .col-sm-6
              strong.time 19h - 22h à NUMA
              h4.name Conférence à l’ESCP Europe : mode, développement durable et technologie.
              a.btn.inscript(href='http://none' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') accueilli par ESCP Europe
            .col-sm-6: p.desc Géraldine Vallejo, Directrice Programme Développement Durable, Kering Laurence Jacquot, Directrice des Opérations, Lectra Philippe Mangeard, Président, Agence européenne TK’Blue
              p Ouverture des INSCRIPTIONS le 31 aout

        .day
            h3 Samedi 26 septembre :
          .row.event
            .col-sm-6
              strong.time 10h
              h4.name Showroom &amp; Party!
              a.btn.inscript(href='http://events.numa.paris/Evenements/FashionTech-2-Day-5-Showrooms-et-ateliers-createurs-Soiree-de-cloture-a-La-Paillasse' target="_blank") Inscription
              a.page-scroll.location(href='#cd-google-map') à la paillasse
            .col-sm-6: p.desc Stands et animations dès 10h, cocktail et soirée dès 21h. <br> Le Fashion&amp;tech Showroom est le salon parisien de la mode de demain organisé en trois pôles résolument tournés vers le futur: mode innovante, numérique et éthique. Pour découvrir, toucher, essayer, comprendre, acheter les projets textile et mode de demain et rencontrer leurs créateurs. 
              p Plus d’infos :
              a(href='https://www.facebook.com/pages/Fashion-Tech-Showroom-Paris/351798608346832?fref=ts') www.facebook.com/pages/Fashion-Tech-Showroom-Paris/

    section#organisateurs
      .container
        h2.text-center Co Organisateurs
        .coorg
          .col
            .img: a(href="https://numa.paris/"): img.numa(src="images/logo_numa.png", alt="partner")
            p Acteur majeur de l’écosystème numérique depuis 14 ans, NUMA fédèrent inventeurs, entrepreneurs et créateurs de l’innovation pour accélérer et faire rayonner l’entrepreneuriat du XXI ème siècle.
          .col
            .img: a(href="http://www.hallcouture.com/"): img.hallc(src="images/logo_hallcouture.png", alt="partner")
            p Le 1er espace collaboratif dédié à la Mode française Innovante, conçu par des créateurs pour des créateurs et des consommateurs avisés. Hall Couture intègre : atelier, coworking et boutique, tout en encourageant des pratiques plus vertueuses respectant les travailleurs, les consommateurs et l’environnement.
          .col
            .img: a(href="https://beiconity.com/"): img.iconity(src="images/logo_iconity.png", alt="partner")
            p ICONITY est une plateforme de location dédiée à la mode, où chacun peut partager les plus belles pièces de son dressing et louer des vêtements ou des accessoires de mode auprès d'autres particuliers et de designers. <br>Notre philosophie : Collect Moments, Share Fashion!
          .col
            .img: a(href="https://escpeurope.eu"): img.escp(src="images/logo_escp.png", alt="partner")
            p chaire « Mode et technologie » qui a pour mission de promouvoir auprès des étudiants et alumnis le rôle de la technologie comme catalyseur de l’innovation envisagée sous ses multiples formes dans les secteurs de la mode et du luxe. Cette chaire est soutenue par Lectra.
          .col
            .img: a(href="https://wair.io/"): img.iconity(src="images/logo_wair.png", alt="partner")
            p WAIR is an innovative Start-up which creates the first connected antipollution scarf. It is at the same time a fashion accessory, an effective protection against the pollution and a measure of air quality sensor. Connected with the application BE AWAIR, the sensor as the telephone can warn the user when the air around him is polluted, in some movements, he can transform his scarf into mask and be protected.
          .col
            .img: a(href="https://inhope.com/"): img.iconity(src="images/logo_inhope.png", alt="partner")
            p IN-HOPE (R&amp;D Lab): By questioning how we use light in the context of climate change and light polalution, IN-HOPE creates new indoor and outdoor lighting aesthetics through the development of luminous fabrics, wearable tech and IOT lighting objects.

    section#partners
      .container.text-center
        h2 En partenariat avec
        .row
          ul.list-unstyled.partners.secon.clearfix
            li: a(href="http://www.lisaa.com/" name="lisaa" target="_blank"): img.lisaa(src="images/logo_lisaa.png", alt="LISAA")
            li: a(href="http://www.elle.fr/" name="ELLE" target="_blank"): img.elle(src="images/logo_elle.png", alt="ELLE")
        .row
          ul.list-unstyled.partners.clearfix
            li: a(href="http://www.wearhacks.com/" name="wearhacks" target="_blank"): img.wearhacks(src="images/logo_wearhacks.png", alt="wearhacks")
            li: a(href="http://lapaillasse.org/" name="La paillasse" target="_blank"): img.lapaillasse(src="images/logo_lapaillasse.png", alt="Lapaillasse")
            li: a(href="https://www.linkedin.com/pub/claire-eliot/55/774/627" name="claireeliot" target="_blank"): img.claireeliot(src="images/logo_claireeliot.png", alt="ClaireEliot")
            li: a(href="http://www.dressing-room-service.com/" name="Dressing Room Service" target="_blank"): img.dressingroomservice(src="images/logo_dressingroomservice.png", alt="Dressing Room Service")
            
            li: a(href="http://nirparis.fr/" name="The Fashion Loft" target="_blank"): img.tfl(src="images/logo_thefashionloft.png", alt="The Fashion Loft")
            li: a(href="http://www.lectra.com/fr" name="Lectra" target="_blank"): img.lectra(src="images/logo_lectra.png", alt="Lectra")
            li: a(href="http://www.maddyness.com/" name="Maddyness" target="_blank"): img.maddyness(src="images/logo_maddyness.png", alt="Maddyness")
            li: a(href="http://www.interlaced.co" name="interlaced" target="_blank"): img.interlaced(src="images/logo_interlaced.png", alt="interlaced")
            li: a(href="http://www.clausette.cc" name="clausette" target="_blank"): img.clausette(src="images/logo_clausette.png", alt="clausette")
            li: a(href="http://player.paris" name="Player" target="_blank"): img.player(src="images/logo_player.png", alt="Player")
            li: a(href="http://www.fashhackaustralia.com/" name="fashionhack" target="_blank"): img.fashionhack(src="images/logo_fashionhack.png", alt="Player")

            //- li: a(href="http://frenchweb.fr/" name="Frenchweb" target="_blank"): img.frenchweb(src="images/logo_frenchweb.png", alt="Frenchweb")
            //- li: a(href="http://www.ubergizmo.com/" name="Ubergizmo" target="_blank"): img.ubergizmo(src="images/logo_ubergizmo.png", alt="Ubergizmo")
            //- li: a(href="http://latelierfrancais.fr/" name="L'atelier Francais" target="_blank"): img.latelierfr(src="images/logo_latelierfr.png", alt="L'atelier Francais")
            //- li: a(href="http://gaite-lyrique.net/" name="Gaite Lyrique" target="_blank"): img.gaite(src="images/logo_gaite.png", alt="Gaite Lyrique")
            //- li: a(href="http://www.lafonderie-idf.fr/" name="" target="_blank"): img.lafonderie(src="images/logo_lafonderie.png", alt="Lafonderie")
            //- li: a(href="http://www.cnd.fr/" name="Centre National Danse" target="_blank"): img.cnd(src="images/logo_cnd.png", alt="CND")
            //- li: a(href="http://socialmediaclub.fr/" name="Social Media Club" target="_blank"): img.smc(src="images/logo_socialmediaclub.png", alt="Socialmediaclub")
            //- li: a(href="http://www.silex-id.com/" name="Silex" target="_blank"): img.silex(src="images/logo_silex.png", alt="Silex")
            //- li: a(href="http://upfit-services.com/" name="upfit-services" target="_blank"): img.uplift(src="images/logo_uplift.png", alt="Upfit")
    
    //- section#cd-google-map
      #google-container
      #loc1.sqb NUMA: 39 Rue du Caire
      #loc2.sqb La Gaîté Lyrique: 3bis Rue Papin
      #loc3.sqb La Paillasse: 226 Rue Saint-Denis
      #loc4.sqb ESCP: 79 Avenue de la République
      #loc5.sqb CND: 1 Rue Victor Hugo
      #cd-zoom-in.sqb
      #cd-zoom-out.sqb

      //- address 86-90 Paul Street, London, EC2A 4NE

    footer
      .container.text-center
        p Copyright &copy; <a href="http://www.numa.paris" name="numa Paris" target="_blank">NUMA</a> Fashion Tech Week 2015

    script(src='assets/jquery/jquery.js')
    script(src='assets/jquery/jquery.easing.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src="js/app.js")
    //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjSkiy68CUTGVAELIKh_goNZTFRRzv9rw")
    //- script(src="assets/maps/map.js")